.lobby-card-canvas {
	position: relative;
	width: 225px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: visible;
	color: white;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lobby-card-canvas:hover .lobby-card-bg {
	transform: scale(1.1);
	animation: border-animation 1s ease forwards;
}

.lobby-card-canvas:active .lobby-card-bg {
	transform: scale(0.95);
}

@keyframes border-animation {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
	}
}

.lobby-card-canvas.animate {
	opacity: 0;
	transform: translateX(-100%);
	animation: slide-in 0.5s ease-out forwards;
}

@keyframes slide-in {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.lobby-card-bg {
	position: absolute;
	min-width: 225px;
	min-height: 250px;
	background-color: rgba(0, 0, 0, 0.5);
	filter: blur(1px);
	border-radius: 21px;
	visibility: visible;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	z-index: -1;
}

.lobby-card-icon-canvas {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: transparent ;
	margin-top: 30px;
}

.lobby-card-icon {
	position: relative;
	border-radius: 100%;
	height: 100%;
	width: 100%;
}

.lobby-card-lobby-name {
	display: flex;
	position: relative;
	color: #D9D9D9;
	font-size: 20px;
	font-weight: bold;
	margin-top: 5px;
	white-space: nowrap;
	max-width: 190px;
	overflow: hidden;
}

@keyframes scroll-text {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.lobby-card-listeners-cnt {
	position: relative;
	color: white;
	font-size: 16px;
	margin-top: 5px;
}

.lobby-card-song-canvas {
	position: absolute;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 187px;
	height: 51px;
	border-radius: 12px;
	background-color: rgba(217, 217, 217, 0.9);
	color: black;
}

.lobby-card-music-logo {
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background-color: rgba(217, 217, 217, 0);
}

.lobby-card-song-info {
	position: relative;
	display: flex;
	margin-top: 10px;
	flex-direction: column;
	justify-content: flex-start;
	width: 187px;
	height: 51px;
	color: black;
	overflow: hidden;
}

.lobby-card-song-name {
	font-weight: bold;
	font-size: 17px;
	white-space: nowrap;
	display: flex;
	justify-content: left;
}

.lobby-card-artist-name {
	font-size: 12px;
	align-items: center;
	display: flex;
	justify-content: center;
}
