@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.logo {
    position: absolute; /* Position the logo absolutely within the container */
    top: 0;
    left: 0; 
    padding-left: 15px;
  }

.outercircle {
    position: absolute;
    align-items: center;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: #3A95B4;
  }

.innercircle {
    position: absolute;
    align-items: center;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    background-color: #73BBD3;
  }
  .loginContainer {
    position: absolute;
    padding: 10px;
    width: 400px;
    height: 325px;
    /* background-color: white; */
    border-radius: 10px;
    text-align: center;
  }
  .loginText{
  font-family: "Geist Mono", monospace;
  font-weight: 800;
  font-size: 22px;
  margin: 5px;
  }
  .inputBox{
    width: 350px;
    height: 30px;
    /* margin: 10px; */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  /* .inputBox::placeholder{
    font-family: "geist mono", monospace;
    font-size: 12px;
  } */
.emailPassword{
  font-family: "geist mono", monospace;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 5px;
}
.loginButton{
  font-family: "geist mono", monospace;
  width: 100px;
  height: 40px;
  background-color: #3A95B4;
  color: white;
  border: none;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.forgotPassword{
  font-family: "geist mono", monospace;
  font-weight: 600;
  font-size: 13px;
  margin-top: 10px;
}
.notRegistered{
  font-family: "geist mono", monospace;
  color: white;
  font-weight: 600;
  font-size: 13px;
  margin-top: 10px;
}
.signup{
  color: black;
  text-decoration: underline;
}

  